@import './vars';

// $widthSite: 1140px;
// $svg_txt_orange: #F16D7F;
// $font-Lato: "Lato", system-ui;

body {
    font-family: "Lato", system-ui;
}

.orange__txt {
    color: $svg_txt_orange;
}

.box-for-burger-menu {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

summary {
    list-style: none;
}

%flex_al-it__center {
    display: flex;
    align-items: center;
}

svg:hover path {
    fill: $svg_txt_orange;
}

// example1 for svg by id
#no-hover:hover path{
    fill: inherit;
}

// example2 for svg by class
svg.no-hover:hover path{
    fill: inherit;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.box-for-burger-menu {
    overflow: hidden;
}

.header {
    @extend %flex_al-it__center;
    justify-content: space-between;
    height: 75px;
    background-color: #222;
    padding-left: 16px;
    padding-right: 16px;

    &__left {
        @extend %flex_al-it__center;
        gap: 36px;
    }

    &__right {
        @extend %flex_al-it__center;
        gap: 40px;
        position: relative;
    }

}

#burger  {
    position: absolute;
    visibility: hidden;

    &:checked ~ .burger__sub-nav{
        right: 0;
        
    }
}

.burger__sub-nav {
    padding: 30px;
    box-sizing: border-box;
    @extend %flex_al-it__center;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    width: 232px;
    height: 300px;
    z-index: 1;
    right: -1000px;
    top: 50px;
    background-color: #FFF;
    box-shadow: 6px 4px 35px rgba(239, 83, 83, 0.21);
    transition: right .3s;
}


.head {
    background: $cart_bg_color;
    padding-top: 58px;
    padding-bottom: 64px;
    padding-left: 16px;

    &__h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $svg_txt_orange;
    }
}

.subscribe {
    background-image: url(./img/photo\ subscribe.png);
    background-color: rgba(244, 244, 244, 0.70);
    background-blend-mode: overlay;
    min-height: 448px;
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 126px;
    @extend %flex_al-it__center;
    justify-content: space-around;
    gap: 336px;
    min-height: 448px;

    &__left {
        @extend %flex_al-it__center;
        flex-direction: column;
        gap: 30px;
    }

    &__p {
        // font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #222224;
        max-width: 360px;
    }

    &__right {
        @extend %flex_al-it__center;
        flex-direction: column;
    }

    &__h2 {
        // font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #222224;
    }

    &__p {
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #222224;
        margin-bottom: 42px;
    }

    &__input {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #222224;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 48px;
        outline: none;
        border: 0;
        padding-left: 16px;
        background: #E1E1E1;
    }

    &__input:hover {
        background: rgba(0, 0, 0, 0);
        color: #000;
        box-shadow: inset 0 0 0 3px $svg_txt_orange;
    }

    &__button {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        @extend %flex_al-it__center;
        text-align: center;
        background: $svg_txt_orange;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        height: 48px;
        border: 0;
        background-color: #F16D7F;
        padding: 16px 22px;
        color: #FFF;
        border: none;
        // background: #3a7999;
        // color: #f2f2f2;
        // padding: 10px;
        // font-size: 18px;
        // border-radius: 5px;
        // position: relative;
        // box-sizing: border-box;
        // transition: all 500ms ease;
    }

    &__button:hover {
        background: rgba(0, 0, 0, 0);
        color: #000;
        box-shadow: inset 0 0 0 3px $svg_txt_orange;
    }

    &__box_input_btn {
        @extend %flex_al-it__center;
    }
}

input:focus {
    outline: none;
    border: 0px;
}

.social {
    background: #000;
    @extend %flex_al-it__center;
    justify-content: space-between;
    &__txt {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__brand-svg:hover .social-svg {
        fill: white;
    }
}

@media (max-width: 1160px) {

    $widthSite: 1100px;

    .center {
        padding-left: calc(50% - $widthSite / 2);
        padding-right: calc(50% - $widthSite / 2);
    }
}

@media (max-width: 1024px) {

    $widthSite: 780px;

    .center {
        padding-left: calc(50% - $widthSite / 2);
        padding-right: calc(50% - $widthSite / 2);
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    .carts {
        padding: 0;
        padding-top: 59px;
        align-items: center;

        &__item {
            width: calc($widthSite - 32px);
        }

        &__buttons {
            gap: 49px;
            justify-content: center;

        }
    }

    .form {
        padding: 0;
        flex-direction: row;
        align-items: center;
        gap: 17px;
        padding-bottom: 128px;

        &__total {
            margin: 0;
        }
    }

    .subscribe {
        // display: flex;
        // align-items: center;
        flex-direction: column;
        gap: 80px;
    }
}

@media (max-width: 780px) {

    $widthSite: 600px;

    .center {
        padding-left: calc(50% - $widthSite / 2);
        padding-right: calc(50% - $widthSite / 2);
    }

    .form {
        flex-direction: column;
    }

}