body {
  font-family: "Lato", system-ui;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  list-style: none;
}

.social, .subscribe__box_input_btn, .subscribe__button, .subscribe__right, .subscribe__left, .subscribe, .pagination, .choice-sort, .filter-box__summary, .filter-box__choice, .filter-box__det, .filter-box, .product__item_img_box, .product__item, .product__sub_box_btn, .product__sub_box_menu, .product__sub_box_heading, .product__sub_box, .product__nav, .product__header, .burger__sub-nav, .header__right, .header__left, .header {
  display: flex;
  align-items: center;
}

svg:hover path {
  fill: #F16D7F;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  justify-content: space-between;
  height: 75px;
  background-color: #222;
}
.header__left {
  gap: 36px;
}
.header__right {
  gap: 40px;
  position: relative;
}

#burger {
  position: absolute;
  visibility: hidden;
}
#burger:checked ~ .burger__sub-nav {
  right: 0;
}

.box-for-burger-menu {
  overflow: hidden;
}

.burger__sub-nav {
  padding: 30px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  width: 232px;
  height: 300px;
  z-index: 1;
  right: -1000px;
  top: 50px;
  background-color: #FFF;
  box-shadow: 6px 4px 35px rgba(239, 83, 83, 0.21);
  transition: right 0.3s;
}

.product {
  display: flex;
  flex-direction: column;
}
.product__header {
  justify-content: space-between;
  position: relative;
  background: #F8F3F4;
}
.product__h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.product__nav {
  justify-content: end;
  gap: 16px;
  padding-top: 68px;
  padding-bottom: 68px;
}
.product__details[open] .product__summary {
  color: #F16D7F;
}
.product__img {
  position: absolute;
  left: -254px;
  top: 156px;
}
.product__sub_box {
  border: 1px solid black;
  width: 1140px;
  height: 600px;
  position: absolute;
  top: 833px;
  left: 0px;
  background-color: white;
  color: F16D7F;
  flex-direction: column;
  align-items: center;
}
.product__sub_box_heading {
  color: #F16D7F;
  justify-content: center;
  flex-direction: column;
  padding-top: 66px;
}
.product__sub_box_border1 {
  padding-top: 10px;
  height: 3px;
  width: 60px;
  color: #EF5B70;
  border-bottom: 3px solid #EF5B70;
}
.product__sub_box_h2 {
  padding-top: 12px;
  padding-top: 10px;
  color: #4D4D4D;
}
.product__sub_box_p {
  padding-top: 54px;
  color: #5E5E5E;
  text-align: center;
  max-width: 648px;
}
.product__sub_box_price {
  padding-top: 40px;
  color: #EF5B70;
}
.product__sub_box_border2 {
  padding-top: 10px;
  height: 1px;
  width: 640px;
  border-bottom: 3px solid #EF5B70;
}
.product__sub_box_menu {
  gap: 24px;
  margin-top: 64px;
}
.product__sub_box_details[open] .product__sub_box_span {
  color: #F16D7F;
}
.product__sub_box_span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 9px;
}
.product__sub_box_btn {
  gap: 24px;
  margin-top: 48px;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: none;
  padding: 14px 56px 9px 24px;
}
.product__sub_box_btn:hover {
  background-color: white;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}
.product__content {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(3, 606px);
  gap: 30px;
}
.product__item {
  flex-direction: column;
  min-width: 360px;
  max-height: 580px;
  margin-bottom: 30px;
}
.product__item_img_box {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.product__item_txt_box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 16px;
  background-color: #F7F7F7;
}
.product__item_h3 {
  font-family: "Lato", system-ui;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding-bottom: 16px;
}
.product__item_p {
  font-family: "Lato", system-ui;
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  text-align: start;
  padding-bottom: 20px;
}
.product__item_price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #F16D7F;
}

.filter-font {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.choice-font {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-box {
  padding-top: 52px;
  padding-bottom: 64px;
}
.filter-box__filter {
  padding: 13px 16px 16px;
  position: relative;
  width: 360px;
  box-sizing: border-box;
}
.filter-box__filter[open] .filter-box__summary {
  color: #F16D7F;
}
.filter-box__filter[open] path {
  fill: #EF5B70;
}
.filter-box__filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-box__sub-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 10px;
  background: white;
  position: absolute;
  left: 0px;
  width: 360px;
  box-sizing: border-box;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-box__det {
  flex-direction: column;
}
.filter-box__det-details {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-left: 17px;
}
.filter-box__sum {
  padding-left: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EF5B70;
  height: 30px;
}
.filter-box__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter-box__list-a {
  list-style: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter-box__choice {
  gap: 28px;
  margin-left: 23px;
}
.filter-box__summary {
  gap: 10px;
}

.choice-box {
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 9px;
  gap: 9px;
  position: absolute;
  width: 79px;
  height: 103px;
  background: #FFF;
}

.choice-sort {
  gap: 9px;
}

.choice-sort-type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.pagination {
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 96px;
}

.article {
  padding-top: 103px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;
  background: #222224;
}
.article_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
.article_item_h5_1_margin28 {
  margin-top: 28px;
}
.article_item_h5_2_margin19 {
  margin-top: 19px;
}
.article_item_h5_3_margin25 {
  margin-top: 25px;
}
.article_item_h5 {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.article_item_p {
  margin-top: 16px;
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 82%;
}

.subscribe {
  background-image: url(./img/photo\ subscribe.png);
  background-color: rgba(244, 244, 244, 0.7);
  background-blend-mode: overlay;
  min-height: 448px;
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 126px;
  justify-content: space-around;
  gap: 336px;
  min-height: 448px;
}
.subscribe__left {
  flex-direction: column;
  gap: 30px;
}
.subscribe__p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #222224;
  max-width: 360px;
}
.subscribe__right {
  flex-direction: column;
}
.subscribe__h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
}
.subscribe__p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #222224;
  margin-bottom: 42px;
}
.subscribe__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 48px;
  outline: none;
  border: 0;
  padding-left: 16px;
  background: #E1E1E1;
}
.subscribe__input:hover {
  background: rgba(0, 0, 0, 0);
  color: #000;
  box-shadow: inset 0 0 0 3px #F16D7F;
}
.subscribe__button {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #F16D7F;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  height: 48px;
  border: 0;
  background-color: #F16D7F;
  padding: 16px 22px;
  color: #FFF;
  border: none;
}
.subscribe__button:hover {
  background: rgba(0, 0, 0, 0);
  color: #000;
  box-shadow: inset 0 0 0 3px #F16D7F;
}
input:focus {
  outline: none;
  border: 0px;
}

.social {
  background: #000;
  gap: 812px;
}
.social__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.social__brand-svg:hover .social-svg {
  fill: white;
}/*# sourceMappingURL=catalog_style.css.map */