@import './vars';
@import './partial';


.product {
    display: flex;
    flex-direction: column;

    &__header {
        @extend %flex_al-it__center;
        justify-content: space-between;
        position: relative;
        background-color: #F8F3F4;
        padding-right: 16px;
        padding-left: 16px;
    }

    &__h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $svg_txt_orange;
    }

    &__nav {
        @extend %flex_al-it__center;
        justify-content: end;
        gap: 16px;
        padding-top: 68px;
        padding-bottom: 68px;
    }

    // &__details[open] .product__summary {
    //     color: $svg_txt_orange;
    // }

    &__boxr {
        position: absolute;
        @extend %flex_al-it__center;
        justify-content: center;
        align-items: center;
        left: 0px;
        top: 154px;
        background-color: #F7F7F7;
        background-image: url(./img/new_arrival.png);
        // box-sizing: border-box;
        background-position: center;
        background-size: cover;
        height: 740px;
        width: $widthSite;
        // background-attachment: inherit;
    }

    &__page-link {
        display: block;
        // position: absolute;
    }

    &__img {
        // position: absolute;
        // left: -254px;
        // top: 156px;
        // max-width: $widthSite;
        max-width: calc($widthSite - 94px);
    }

    &__sub_box {
        border: 1px solid black;
        width: 1140px;
        height: 600px;
        position: absolute;
        top: 824px;
        left: 0px;
        background-color: #fff;
        color: F16D7F;
        @extend %flex_al-it__center;
        flex-direction: column;
        align-items: center;

        &_heading {
            color: #F16D7F;
            @extend %flex_al-it__center;
            justify-content: center;
            flex-direction: column;
            padding-top: 66px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
        }

        &_border1 {
            padding-top: 10px;
            height: 3px;
            width: 60px;
            color: #EF5B70;
            border-bottom: 3px solid #EF5B70;
        }

        &_h2 {
            padding-top: 12px;
            padding-top: 10px;
            color: #4D4D4D;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
        }

        &_p {
            text-align: center;
            max-width: 648px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #5E5E5E;
        }

        &_price {
            padding-top: 40px;
            color: #EF5B70;
        }

        &_border2 {
            padding-top: 10px;
            height: 1px;
            width: 640px;
            border-bottom: 3px solid #EAEAEA;
            box-sizing: border-box
        }

        &_menu {
            @extend %flex_al-it__center;
            gap: 24px;
            margin-top: 64px;
        }

        &_details[open] .product__sub_box_span {
            color: $svg_txt_orange;
        }

        &_span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            margin-right: 9px;
        }

        &_btn {
            @extend %flex_al-it__center;
            gap: 24px;
            margin-top: 48px;
            background-color: $svg_txt_orange;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            border: none;
            padding: 14px 56px 9px 24px;
        }

        &_btn:hover {
            background-color: white;
            border: 1px solid $svg_txt_orange;
            color: $svg_txt_orange;
        }
    }

    .box-p {
        margin-top: 16px;
        background-color: #D9D9D9;
        width: 1140px;
        display: flex;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(3, 606px);
        gap: 30px;
        justify-content: center;
        padding-bottom: 128px;
    }

    &__item {
        @extend %flex_al-it__center;
        flex-direction: column;
        min-width: 360px;
        // max-height: 580px;
        margin-bottom: 30px;

        &_img_box {
            @extend %flex_al-it__center;
            object-fit: cover;
            width: 100%;
        }

        &_txt_box {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 12px;
            padding-top: 24px;
            padding-bottom: 20px;
            padding-left: 16px;
            background-color: #F7F7F7;
        }

        &_h3 {
            font-family: $font-Lato;
            font-weight: 400;
            font-size: 13px;
            color: #000;
            padding-bottom: 16px;
        }

        &_p {
            font-family: $font-Lato;
            font-weight: 300;
            font-size: 14px;
            color: #5d5d5d;
            text-align: start;
            padding-bottom: 20px;
        }

        &_price {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: $svg_txt_orange;
        }
    }


}

.no-content {
    display: inherit;
}

.link1 {
    position: absolute;
    left: 0;
    top: 208px;
    z-index: 2;
}

.link2 {
    position: absolute;
    right: 0;
    top: 208px;
    z-index: 2;
}

@media (max-width: 1160px) {

    .product {

        .box-p {
            background-color: #fff;
        }

        &__content {
            gap: 24px;
        }

        // &__content:nth-child(7) {
        //     margin-top: 30px;
        // }

        &__boxr {
            width: $widthSite;
        }

        &__img {
            max-width: 996px;
        }

        &__sub_box {
            width: $widthSite;
            top: 812px;
        }
    }


    .link1 {
        position: absolute;
        left: 0;
        top: 208px;
        z-index: 2;
    }

    .link2 {
        position: absolute;
        right: 0;
        top: 208px;
        z-index: 2;
    }
}

@media (max-width: 1140px) {

    .not-display-media1140 {
        display: none;
    }

    .product {

        &__content {
            grid-template-columns: repeat(2, 360px);
            justify-content: center;
            gap: 24px;

        }

        &__boxr {
            width: 100vw;
        }

        &__img {
            width: 990px;
        }

        &__sub_box {
            width: 100vw;
            box-sizing: border-box;
        }

        &__sub_box_border2 {
            width: 54vw;
            margin-left: 23vw;
            margin-right: 23vw;
        }
    }


}

@media (max-width: 1024px) {

    .not-display-media1140 {
        display: none;
    }

    .product {

        &__content {
            grid-template-columns: repeat(2, 360px);
            justify-content: center;
            gap: 24px;

        }

        &__boxr {
            width: 100vw;
        }

        &__img {
            width: 908px;
        }

        &__sub_box {
            width: 100vw;
            box-sizing: border-box;
        }

        &__sub_box_border2 {
            width: 54vw;
            margin-left: 23vw;
            margin-right: 23vw;
        }
    }


}

@media (max-width: 780px) {

    .not-display-media780 {
        display: none;
    }

    .product {

        &__header {
            flex-direction: column;
            padding-top: 24px;
            padding-bottom: 48px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 13px;
        }

        &__boxr {
            width: 100vw;
        }

        &__img {
            position: absolute;
            left: -190px;
            max-width: 959px;
            top: 15px;
        }

        &__sub_box {
            width: 100vw;
            box-sizing: border-box;
            top: 816px;

            &_heading {
                font-weight: 400;
            }

            &_h2 {
                font-weight: 400;
            }

            &_p {
                font-weight: 400;
                line-height: 143.1%;
            }

            &_span {
                font-size: 10px;
                line-height: 12px;
            }
        }

        &__sub_box_border2 {
            width: 54vw;
            margin-left: 23vw;
            margin-right: 23vw;
        }

        &__item {
            width: 360px;
        }

        &__item_p {

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            color: #5D5D5D;


        }
    }

    .link1 {
        position: absolute;
        left: 0;
        top: 208px;
        z-index: 2;
    }

    .link2 {
        position: absolute;
        right: 0;
        top: 208px;
        z-index: 2;
    }

    .subscribe {
        flex-direction: column;
        gap: 80px;
    }

    .social {
        padding-top: 44px;
        padding-bottom: 22px;
        flex-direction: column-reverse;
        gap: 22px;
    }
}


@media (max-width: 755px) {

    .not-display-media755 {
        display: none;
    }

    .product {

        &__header {
            flex-direction: column;
            padding-top: 24px;
            padding-bottom: 48px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 13px;
            padding-bottom: 64px;
        }

        &__boxr {
            width: 100vw;
        }

        &__item {
            width: 360px;
            height: 580px;
        }

        &__img {
            position: absolute;
            left: -190px;
            max-width: 959px;
            top: 15px;
        }

        &__sub_box {
            width: 100vw;
        }

        &__sub_box_border2 {
            width: 54vw;
            margin-left: 23vw;
            margin-right: 23vw;
        }
    }

    .link1 {
        position: absolute;
        left: 0;
        top: 208px;
        z-index: 2;
    }

    .link2 {
        position: absolute;
        right: 0;
        top: 208px;
        z-index: 2;
    }

}