body {
  font-family: "Lato", system-ui;
}

.orange__txt {
  color: #F16D7F;
}

.box-for-burger-menu {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  list-style: none;
}

.product__item_img_box, .product__item, .product__sub_box_btn, .product__sub_box_menu, .product__sub_box_heading, .product__sub_box, .product__boxr, .product__header, .social, .subscribe__box_input_btn, .subscribe__button, .subscribe__right, .subscribe__left, .subscribe, .product__nav, .burger__sub-nav, .header__right, .header__left, .header {
  display: flex;
  align-items: center;
}

svg:hover path {
  fill: #F16D7F;
}

#no-hover:hover path {
  fill: inherit;
}

svg.no-hover:hover path {
  fill: inherit;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.cursor {
  cursor: pointer;
}

.box-for-burger-menu {
  overflow: hidden;
}

.header {
  justify-content: space-between;
  height: 75px;
  background-color: #222;
  padding-left: 16px;
  padding-right: 16px;
}
.header__left {
  gap: 36px;
}
.header__right {
  gap: 40px;
  position: relative;
}

#burger {
  position: absolute;
  visibility: hidden;
}
#burger:checked ~ .burger__sub-nav {
  right: 0;
}

.burger__sub-nav {
  padding: 30px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  width: 232px;
  height: 300px;
  z-index: 1;
  right: -1000px;
  top: 50px;
  background-color: #FFF;
  box-shadow: 6px 4px 35px rgba(239, 83, 83, 0.21);
  transition: right 0.3s;
}

.product__nav {
  justify-content: end;
  gap: 16px;
  padding-top: 68px;
  padding-bottom: 68px;
}
.product__breadcrumbs {
  display: flex;
  gap: 8px;
  list-style-type: none;
  cursor: pointer;
}
.product__breadcrumbs-li {
  display: flex;
  gap: 8px;
}
.product__breadcrumbs-li:not(:last-child)::after {
  content: "/";
}
.product__breadcrumbs-li:last-child {
  font-weight: 700;
  color: #F16D7F;
}

.head {
  background: #F5F3F4;
  padding-top: 58px;
  padding-bottom: 64px;
  padding-left: 16px;
}
.head__h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.subscribe {
  background-image: url(./img/backgr__subscribe.png);
  background-color: rgba(244, 244, 244, 0.7);
  background-blend-mode: overlay;
  min-height: 448px;
  background-size: cover;
  padding: 97px 16px 126px;
  justify-content: space-between;
  min-height: 448px;
}
.subscribe__left {
  flex-direction: column;
  gap: 30px;
}
.subscribe__p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #222224;
  max-width: 360px;
}
.subscribe__right {
  flex-direction: column;
}
.subscribe__h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
}
.subscribe__p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #222224;
  margin-bottom: 42px;
}
.subscribe__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 48px;
  outline: none;
  border: 0;
  padding-left: 16px;
  background: #E1E1E1;
}
.subscribe__input:hover {
  background: rgba(0, 0, 0, 0);
  color: #000;
  box-shadow: inset 0 0 0 3px #F16D7F;
}
.subscribe__button {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #F16D7F;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  height: 48px;
  border: 0;
  background-color: #F16D7F;
  padding: 16px 22px;
  color: #FFF;
  border: none;
}
.subscribe__button:hover {
  background: rgba(0, 0, 0, 0);
  color: #000;
  box-shadow: inset 0 0 0 3px #F16D7F;
}
input:focus {
  outline: none;
  border: 0px;
}

.social {
  background: #000;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.social__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.social__brand-svg:hover .social-svg {
  fill: white;
}

@media (max-width: 780px) {
  .subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }
  .social {
    padding-top: 44px;
    padding-bottom: 22px;
    flex-direction: column-reverse;
    gap: 22px;
  }
}
.product {
  display: flex;
  flex-direction: column;
}
.product__header {
  justify-content: space-between;
  position: relative;
  background-color: #F8F3F4;
  padding-right: 16px;
  padding-left: 16px;
}
.product__h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.product__nav {
  justify-content: end;
  gap: 16px;
  padding-top: 68px;
  padding-bottom: 68px;
}
.product__boxr {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 154px;
  background-color: #F7F7F7;
  background-image: url(./img/new_arrival.png);
  background-position: center;
  background-size: cover;
  height: 740px;
  width: 1140px;
}
.product__page-link {
  display: block;
}
.product__img {
  max-width: 1046px;
}
.product__sub_box {
  border: 1px solid black;
  width: 1140px;
  height: 600px;
  position: absolute;
  top: 824px;
  left: 0px;
  background-color: #fff;
  color: F16D7F;
  flex-direction: column;
  align-items: center;
}
.product__sub_box_heading {
  color: #F16D7F;
  justify-content: center;
  flex-direction: column;
  padding-top: 66px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.product__sub_box_border1 {
  padding-top: 10px;
  height: 3px;
  width: 60px;
  color: #EF5B70;
  border-bottom: 3px solid #EF5B70;
}
.product__sub_box_h2 {
  padding-top: 12px;
  padding-top: 10px;
  color: #4D4D4D;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.product__sub_box_p {
  text-align: center;
  max-width: 648px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}
.product__sub_box_price {
  padding-top: 40px;
  color: #EF5B70;
}
.product__sub_box_border2 {
  padding-top: 10px;
  height: 1px;
  width: 640px;
  border-bottom: 3px solid #EAEAEA;
  box-sizing: border-box;
}
.product__sub_box_menu {
  gap: 24px;
  margin-top: 64px;
}
.product__sub_box_details[open] .product__sub_box_span {
  color: #F16D7F;
}
.product__sub_box_span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 9px;
}
.product__sub_box_btn {
  gap: 24px;
  margin-top: 48px;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: none;
  padding: 14px 56px 9px 24px;
}
.product__sub_box_btn:hover {
  background-color: white;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}
.product .box-p {
  margin-top: 16px;
  background-color: #D9D9D9;
  width: 1140px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.product__content {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(3, 606px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 128px;
}
.product__item {
  flex-direction: column;
  min-width: 360px;
  margin-bottom: 30px;
}
.product__item_img_box {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.product__item_txt_box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 16px;
  background-color: #F7F7F7;
}
.product__item_h3 {
  font-family: "Lato", system-ui;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding-bottom: 16px;
}
.product__item_p {
  font-family: "Lato", system-ui;
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  text-align: start;
  padding-bottom: 20px;
}
.product__item_price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #F16D7F;
}

.no-content {
  display: inherit;
}

.link1 {
  position: absolute;
  left: 0;
  top: 208px;
  z-index: 2;
}

.link2 {
  position: absolute;
  right: 0;
  top: 208px;
  z-index: 2;
}

@media (max-width: 1160px) {
  .product .box-p {
    background-color: #fff;
  }
  .product__content {
    gap: 24px;
  }
  .product__boxr {
    width: 1140px;
  }
  .product__img {
    max-width: 996px;
  }
  .product__sub_box {
    width: 1140px;
    top: 812px;
  }
  .link1 {
    position: absolute;
    left: 0;
    top: 208px;
    z-index: 2;
  }
  .link2 {
    position: absolute;
    right: 0;
    top: 208px;
    z-index: 2;
  }
}
@media (max-width: 1140px) {
  .not-display-media1140 {
    display: none;
  }
  .product__content {
    grid-template-columns: repeat(2, 360px);
    justify-content: center;
    gap: 24px;
  }
  .product__boxr {
    width: 100vw;
  }
  .product__img {
    width: 990px;
  }
  .product__sub_box {
    width: 100vw;
    box-sizing: border-box;
  }
  .product__sub_box_border2 {
    width: 54vw;
    margin-left: 23vw;
    margin-right: 23vw;
  }
}
@media (max-width: 1024px) {
  .not-display-media1140 {
    display: none;
  }
  .product__content {
    grid-template-columns: repeat(2, 360px);
    justify-content: center;
    gap: 24px;
  }
  .product__boxr {
    width: 100vw;
  }
  .product__img {
    width: 908px;
  }
  .product__sub_box {
    width: 100vw;
    box-sizing: border-box;
  }
  .product__sub_box_border2 {
    width: 54vw;
    margin-left: 23vw;
    margin-right: 23vw;
  }
}
@media (max-width: 780px) {
  .not-display-media780 {
    display: none;
  }
  .product__header {
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 48px;
  }
  .product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }
  .product__boxr {
    width: 100vw;
  }
  .product__img {
    position: absolute;
    left: -190px;
    max-width: 959px;
    top: 15px;
  }
  .product__sub_box {
    width: 100vw;
    box-sizing: border-box;
    top: 816px;
  }
  .product__sub_box_heading {
    font-weight: 400;
  }
  .product__sub_box_h2 {
    font-weight: 400;
  }
  .product__sub_box_p {
    font-weight: 400;
    line-height: 143.1%;
  }
  .product__sub_box_span {
    font-size: 10px;
    line-height: 12px;
  }
  .product__sub_box_border2 {
    width: 54vw;
    margin-left: 23vw;
    margin-right: 23vw;
  }
  .product__item {
    width: 360px;
  }
  .product__item_p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  .link1 {
    position: absolute;
    left: 0;
    top: 208px;
    z-index: 2;
  }
  .link2 {
    position: absolute;
    right: 0;
    top: 208px;
    z-index: 2;
  }
  .subscribe {
    flex-direction: column;
    gap: 80px;
  }
  .social {
    padding-top: 44px;
    padding-bottom: 22px;
    flex-direction: column-reverse;
    gap: 22px;
  }
}
@media (max-width: 755px) {
  .not-display-media755 {
    display: none;
  }
  .product__header {
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 48px;
  }
  .product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding-bottom: 64px;
  }
  .product__boxr {
    width: 100vw;
  }
  .product__item {
    width: 360px;
    height: 580px;
  }
  .product__img {
    position: absolute;
    left: -190px;
    max-width: 959px;
    top: 15px;
  }
  .product__sub_box {
    width: 100vw;
  }
  .product__sub_box_border2 {
    width: 54vw;
    margin-left: 23vw;
    margin-right: 23vw;
  }
  .link1 {
    position: absolute;
    left: 0;
    top: 208px;
    z-index: 2;
  }
  .link2 {
    position: absolute;
    right: 0;
    top: 208px;
    z-index: 2;
  }
}/*# sourceMappingURL=style.css.map */