@import './partial';
@import '../vars';


%flex_al-it__center {
    display: flex;
    align-items: center;
}

.head {
    background: #F8F3F4;
    padding-top: 58px;
    padding-bottom: 64px;

    &__h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $svg_txt_orange;
    }
}

.main {
    display: flex;
}

.carts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 70px;
    padding: 70px 28px 130px 0px;


    &__item {
        max-height: 306px;
        display: flex;
        margin-top: 40px;
        box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));

    }

    &__img {
        height: 306px;
        object-fit: cover;
    }


    &__cart-info {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 28px 22px 54px 30px;
        max-height: 306px;
        max-width: 652px;

        &-head {
            display: flex;
            gap: 125px;
            justify-content: space-between;
            padding-bottom: 29px;
        }

        &_h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            max-width: 194px;
        }

        &_p {
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin-right: 10px;
        }

        &_p-box {
            @extend %flex_al-it__center;
            gap: 32px;
        }

        &_price {
            color: $svg_txt_orange;
        }
    }

    &__buttons {
        @extend %flex_al-it__center;
        gap: 170px;
    }
    
    &__btn {
        padding: 20px 39px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    
    &__btn:hover {
        background: $svg_txt_orange;
    }

}

.input-area {
    display: flex;
    flex-direction: column;
}