@import '../vars';
@import '../partial';


.product {
    display: flex;
    flex-direction: column;
    // align-items: center;

    &__header {
        @extend %flex_al-it__center;
        justify-content: space-between;
        position: relative;
        background: #F8F3F4;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    &__h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $svg_txt_orange;
    }

    &__nav {
        @extend %flex_al-it__center;
        justify-content: end;
        gap: 16px;
        padding-top: 68px;
        padding-bottom: 68px;
    }

    &__breadcrumbs {
        display: flex;
        gap: 8px;
        list-style-type: none;

        &-li {
            display: flex;
            gap: 8px;
        }

        &-li:not(:last-child)::after {
            content: '/';
        }

        &-li:last-child {
            font-weight: 700;
            color: $svg_txt_orange;
        }

    }



    &__details[open] .product__summary {
        color: $svg_txt_orange;
    }

    &__img {
        position: absolute;
        left: -254px;
        top: 156px;
        z-index: 1;
    }

    &__sub_box {
        border: 1px solid black;
        width: 1140px;
        height: 600px;
        position: absolute;
        top: 833px;
        left: 0px;
        background-color: white;
        color: F16D7F;
        @extend %flex_al-it__center;
        flex-direction: column;
        align-items: center;

        &_heading {
            color: #F16D7F;
            @extend %flex_al-it__center;
            justify-content: center;
            flex-direction: column;
            padding-top: 66px;
        }

        &_border1 {
            padding-top: 10px;
            height: 3px;
            width: 60px;
            color: #EF5B70;
            border-bottom: 3px solid #EF5B70;
        }

        &_h2 {
            padding-top: 12px;
            padding-top: 10px;
            color: #4D4D4D;
        }

        &_p {
            padding-top: 54px;
            color: #5E5E5E;
            text-align: center;
            max-width: 648px;
        }

        &_price {
            padding-top: 40px;
            color: #EF5B70;
        }

        &_border2 {
            padding-top: 10px;
            height: 1px;
            width: 640px;
            border-bottom: 3px solid #EF5B70;
        }

        &_menu {
            @extend %flex_al-it__center;
            gap: 24px;
            margin-top: 64px;
        }

        &_details[open] .product__sub_box_span {
            color: $svg_txt_orange;
        }

        &_span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            margin-right: 9px;
        }

        &_btn {
            @extend %flex_al-it__center;
            gap: 24px;
            margin-top: 48px;
            background-color: $svg_txt_orange;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            border: none;
            padding: 14px 56px 9px 24px;
        }

        &_btn:hover {
            background-color: white;
            border: 1px solid $svg_txt_orange;
            color: $svg_txt_orange;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(3, 606px);
        gap: 30px;
    }

    &__item {
        @extend %flex_al-it__center;
        flex-direction: column;
        min-width: 360px;
        max-height: 580px;
        margin-bottom: 30px;

        &_img_box {
            @extend %flex_al-it__center;
            object-fit: cover;
            width: 100%;
        }

        &_txt_box {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 12px;
            padding-top: 24px;
            padding-bottom: 20px;
            padding-left: 16px;
            background-color: #F7F7F7;
        }

        &_a {
            font-family: $font-Lato;
            font-weight: 400;
            font-size: 13px;
            color: #000;
            padding-bottom: 16px;
            cursor: pointer;
        }

        &_p {
            font-family: $font-Lato;
            font-weight: 300;
            font-size: 14px;
            color: #5d5d5d;
            text-align: start;
            padding-bottom: 20px;
        }

        &_price {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: $svg_txt_orange;
        }
    }
}


.filter-font {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    z-index: 0;

    &_svg {
        z-index: 0;
    }
}

.choice-font {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}


.filter-box {
    padding: 52px 16px 64px;
    @extend %flex_al-it__center;
    justify-content: space-between;

    &__filter {
        position: relative;
        // box-sizing: border-box;

        &[open] .filter-box__summary {
            color: $svg_txt_orange;
        }

        &[open] path {
            fill: #EF5B70;
        }

        &[open] {
            background: #FFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }
    }

    // &__filter[open] .filter-box__summary {
    //     color: $svg_txt_orange;
    // }

    // &__filter[open] .filter-box__summary-svg {
    //     fill: #EF5B70;
    // }

    &__sub-nav {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 10px;
        background: white;
        position: absolute;
        left: 0px;
        width: 360px;
        // min-height: 532px;
        box-sizing: border-box;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }


    &__det {
        @extend %flex_al-it__center;
        flex-direction: column;
    }

    &__det-details {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        padding-left: 17px;
    }

    &__sum {
        padding-left: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EF5B70;
        height: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__list-a {
        list-style: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }




    &__choice {
        @extend %flex_al-it__center;
        gap: 28px;
    }

    &__summary {
        @extend %flex_al-it__center;
        gap: 10px;
    }


}

.choice-box {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 9px;
    gap: 9px;
    position: absolute;
    width: 79px;
    height: 103px;
    background: #FFF;
}

.choice-sort {
    @extend %flex_al-it__center;
    gap: 9px;
}

.choice-sort-type {
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}


.pagination {
    @extend %flex_al-it__center;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 96px;
}




.article {
    padding-top: 103px;
    padding-bottom: 104px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    background: #222224;

    &_item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
    }

    &_item_h5_1_margin28 {
        margin-top: 28px;
    }

    &_item_h5_2_margin19 {
        margin-top: 19px;
    }

    &_item_h5_3_margin25 {
        margin-top: 25px;
    }

    &_item_h5 {
        color: #FBFBFB;
        font-family: Lato;
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_item_p {
        margin-top: 16px;
        color: #FBFBFB;
        text-align: center;
        font-family: Lato;
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: 82%;
    }
}


.subscribe {
    background-image: url(../img/photo-subscribe.png);
    background-color: rgba(244, 244, 244, 0.70);
    background-blend-mode: overlay;
    min-height: 448px;
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 126px;
    @extend %flex_al-it__center;
    justify-content: space-around;
    gap: 336px;
    min-height: 448px;

    &__left {
        @extend %flex_al-it__center;
        flex-direction: column;
        gap: 30px;
    }

    &__p {
        // font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #222224;
        max-width: 360px;
    }

    &__right {
        @extend %flex_al-it__center;
        flex-direction: column;
    }

    &__h2 {
        // font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #222224;
    }

    &__p {
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #222224;
        margin-bottom: 42px;
    }

    &__input {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #222224;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 48px;
        outline: none;
        border: 0;
        padding-left: 16px;
        background: #E1E1E1;
    }

    &__input:hover {
        background: rgba(0, 0, 0, 0);
        color: #000;
        box-shadow: inset 0 0 0 3px $svg_txt_orange;
    }

    &__button {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        @extend %flex_al-it__center;
        text-align: center;
        background: $svg_txt_orange;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        height: 48px;
        border: 0;
        background-color: #F16D7F;
        padding: 16px 22px;
        color: #FFF;
        border: none;
        // background: #3a7999;
        // color: #f2f2f2;
        // padding: 10px;
        // font-size: 18px;
        // border-radius: 5px;
        // position: relative;
        // box-sizing: border-box;
        // transition: all 500ms ease;
    }

    &__button:hover {
        background: rgba(0, 0, 0, 0);
        color: #000;
        box-shadow: inset 0 0 0 3px $svg_txt_orange;
    }

    &__box_input_btn {
        @extend %flex_al-it__center;
    }
}


@media (max-width: 1140px) {

    .display-no780 {
        display: none;
    }

    .product {


        &__header {
            min-width: 100vw;
            box-sizing: border-box;
            padding-left: 16px;
            padding-right: 16px;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 360px);
            grid-template-rows: repeat(3, 606px);
            gap: 16px;
            justify-content: center;
        }
    }
}

@media (max-width: 780px) {

    .display-no780 {
        display: none;
    }

    .product {


        &__header {
            min-width: 100vw;
            box-sizing: border-box;
            padding-left: 16px;
            padding-right: 16px;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 360px);
            grid-template-rows: repeat(3, 606px);
            gap: 16px;
            justify-content: center;
        }
    }

    .choice-font {
        font-size: 12px;
    }

    .subscribe {
        flex-direction: column;
        gap: 80px;
    }

    .social {
        box-sizing: border-box;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 750px) {

    
    .display-no750 {
        display: none;
    }

    .product {


        &__header {
            flex-direction: column;
            padding-top: 16px;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
        }

        &__item {
            width: 360px;
            height: 580px; 
        }
    }

    // .filter-box {

    // }

    .filter-font {
        display: none;

        &_svg {
            height: 25px;
            width: 37px;
        }
    }

    .article {
        flex-direction: column;
        gap: 48px;

        &_item_p {
            text-align: center;
            max-width: 350px;
        }
    }

    .subscribe {
        flex-direction: column;
        gap: 80px;
    }

    .social {
        box-sizing: border-box;
        padding-left: 32px;
        padding-right: 32px;
    }
}